
/*
 * index.css
 * 
 * CSS page of the index.html page 
 * */
 
 
html, body {
	height: 100%;
	width: 100%;	
}


#Traceroute {
	text-align: center;
	width: 100%;
}

div h3 {
	text-align: center;
}

#leftPanel {
	float: left;
	margin: 0;
	width: 66.6%;
}

#tracerouteOutput {
	float: left;
	margin: 0;
	width: 50%;
	text-align: left;
}

#tracerouteInput {
	margin-left: 50%;
	width: 50%;
}

#tracerouteWarnings {
	margin: 0% 0%;
	margin-left: 66.6%;
	width: 33.3%;
}

#googleMap {
	width: 100%;
	height: 40em;
}

/* Elements p located right after input tags */
input + p{
	display: inline;
}

#ipaddress {
	text-align: center;
}

#error {
	color: red;
	font-size: .7em;
}
